@using Microsoft.AspNetCore.Mvc;
@{
  Item item = Model["Item"];
  SelectList CollectionSelect = Model["CollectionSelect"];
  string TodaysDate = Model["TodaysDate"];
  List<Tag> tags = Model["Tags"];
  ViewData["Title"] = "Create An Item";
}

<body>
  <div id="newItemForm">
    <h3 id="addANewItem">Add a new item</h3>

    @using (Html.BeginForm("Create", "Items", FormMethod.Post))
    {
      <div id="newItemFormCard">
        <div id="newItemFields">
          <select asp-for=@item.CollectionId asp-items=@CollectionSelect></select>
          <br />
          <input asp-for=@item.Name type="text" placeholder="Name..." />
          <br />
          <input asp-for=@item.Description type="text" placeholder="Description..." />
          <br />
          <input asp-for=@item.Value placeholder="Value..." />
          <br />
          <input asp-for=@item.ImageUrl type="text" id="imageUrlInput" placeholder="Image URL..." />
          <br />
          <input type="date" asp-for="@item.Date" value=@TodaysDate />
          <br />

          @foreach (var tag in tags)
          {
            <input type="checkbox" name="TagIds" value="@tag.TagId" />
            @tag.Name
            <br />
          }

          <input id="addItemToCollection" type="submit" value="Add item to collection" />
          <br />
        </div>
        <div id="previewImage">
          <img id="imageUrlPreview" src="" alt="Image Preview" style="max-width: 200px; max-height: 200px;" />
          <br />
        </div>
      </div>
    }
  </div>

  <script>
    document.addEventListener('DOMContentLoaded', function () {
      function updateImagePreview() {
        var imageUrl = document.getElementById('imageUrlInput').value;
        var imagePreview = document.getElementById('imageUrlPreview');
        if (imageUrl.trim() === '') {
          imagePreview.src = 'https://cdn3.iconfinder.com/data/icons/design-n-code/100/272127c4-8d19-4bd3-bd22-2b75ce94ccb4-512.png';
        } else {
          imagePreview.src = imageUrl;
        }
      }
      document.getElementById('imageUrlInput').addEventListener('change', updateImagePreview);
      updateImagePreview();
    });
  </script>
</body>