@using CollectionsManager.Models;
@model List<CollectionsManager.Models.Item>;

@{
  ViewData["Title"] = ViewBag.Title;
}
<div class="index">
  <div>
    <h1>Items</h1>
    <div class="form-row">
      <form class="form-row" asp-controller="Items" asp-action="Index">
        <input class="input" type="text" name="SearchString" placeholder="search" style="padding-right: 50px;" />
        <button class="button" type="submit" style="position: relative; margin-left: -50px;">Filter</button>
      </form>
      <a class="button" asp-controller="Items" asp-action="Create">New Item</a>
    </div>
    <h3>Query Value: $@Model.Sum(i => i.Value)</h3>
  </div>
  <hr />
  @if (@Model.Count == 0)
  {
    <h3>No items have been added...</h3>
  }

  @foreach (Item item in Model)
  {
    <div class="listRow">
      <img class="thumbnail" src=@item.ImageUrl alt="thumbnail">
      <h3>@Html.ActionLink($"{@item.Name}", "Details", new { id = item.ItemId }) |
        @item.Collection.Name</h3>
    </div>
  }


</div>
