@{
  ViewData["Title"] = "Add Collection";
}
@model CollectionsManager.Models.Collection
<div class="editForm">
  <h4>Add a new collection</h4>
  @using (Html.BeginForm())
  {
    @Html.TextBoxFor(model => model.Name, new { placeholder = "Name" })
    <br>
    @Html.TextBoxFor(model => model.Description, new { placeholder = "Description" })
    <br>
    <input type="submit" value="Add new collection" />
  }
</div>
