@model CollectionsManager.Models.Collection

@{
  ViewData["Title"] = $"Delete {Html.DisplayNameFor(model => model.Name)}";
}
<img class="futureGif" src="https://gifdb.com/images/high/loop-futuristic-retro-wave-grid-mk8j412gtwq7smw2.gif"
  alt="future gif">
<div class="editForm">
  <h3>Are you sure you want to delete this collection?</h3>

  @Html.DisplayFor(model => model.Name)
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" />
  }
</div>
