@model CollectionsManager.Models.Collection
<div class="editForm">
  <h4>Editing: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.CollectionId)

    @Html.EditorFor(model => model.Name, new { placeholder = "Name" })

    <input type="submit" value="Save" />
  }
</div>
