@model CollectionsManager.Models.Collection
<img class="futureGif" src="https://gifdb.com/images/high/loop-futuristic-retro-wave-grid-mk8j412gtwq7smw2.gif"
  alt="future gif">
<div class="editForm">
  <h4>Editing: @Html.DisplayFor(model => model.Name)</h4>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.CollectionId)

    @Html.EditorFor(model => model.Name, new { placeholder = "Name" })

    <input type="submit" value="Save" />
  }
</div>
