@{
    ViewData["Title"] = "Home";
}
@* <img id="homeboy" src="~/assets/images/logo.png"> *@
<div class="home-div">
    <form class="form-row angled-card zindex1">
        <input class="input-lg text-input" type="text" placeholder="search" /><input type="submit"
            class="button button-lg zindex2" value="Search" />
    </form>
</div>
