@font-face {
	font-family: 'Cyberotica';
	src: url('../assets/fonts/cyberotica.ttf');
}

body {
	margin: 0;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	max-height: 100%;
	font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
}

a {
	text-decoration: none;
	cursor: pointer;
	color: black;
}

h1#logo-text {
	font-family: 'Cyberotica', 'Arial';
	font-size: 100px;
	margin: 5px 0 0 0;
	width: min-content;
	text-align: left;
	color: white;
	text-shadow: -6px 6px #000;
	margin-right: 50px;
	transition: text-shadow 200ms ease-in-out;
}

h1#logo-text:hover {
	text-shadow: -9px 9px #000;
}

#logo {
	height: 100px;
	width: 100px;
}

#navbar {
	position: sticky;
	top: 0;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	width: 100vw;
	max-width: 100%;
	height: 100px;
	background-color: rgb(255, 238, 0);
	border-bottom: 3px solid black;
	margin-bottom: 50px;
	box-shadow: 0px 5px 15px #909090ff;
}

nav {
	margin-top: 15px;
	list-style: none;
	display: flex;
	flex-direction: row;
	height: 100px;
	align-items: last baseline;
}

nav * {
	margin-right: 5px;
}

.button {
	font-weight: bold;
	display: flex;
	width: 150px;
	height: 30px;
	align-items: center;
	justify-content: center;
	padding: 5px;
	border-radius: 30px 3px 30px 3px;
	box-shadow: -6px 6px #000;
	background-color: white;
	text-decoration: none;
	transition: box-shadow 200ms ease-in-out;
}

.menu-button:hover {
	box-shadow: -9px 9px #000;
}

.itemImage img {
	min-width: 100px;
	width: 15vw;
}

.itemCard {
	display: flex;
	flex-direction: row;
	background-color: rgb(255, 238, 0);
	padding: 10px;
	width: fit-content;
	min-width: 370px;
	border-style: groove;
	border-width: 5px;
	border-color: #e9e9e9;
	box-shadow: 3px 3px 3px #e9e9e9;
	margin-left: auto;
	margin-right: auto;
}

#cardIcons {
	position: absolute;
	bottom: 0;
	right: 0;
}

#itemStats {
	margin-left: 10px;
	position: relative;
}

.deleteIcon {
	width: 5.8vw;
	margin-bottom: -1.7vw;
}
.editIcon {
	width: 3vw;
}

.futureGif {
	position: fixed;
	top: 0;
	z-index: -1;
	width: 100vw;
	height: 100vh;
	max-height: 100%;
	max-width: 100%;
}

.index {
	width: 80vw;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(255, 238, 0);
	border-style: groove;
	border-width: 5px;
	border-color: #e9e9e9;
	box-shadow: 3px 3px 3px #e9e9e9;
	padding: 10px;
	margin-bottom: 50px;
	position: relative;
}

.index a {
	color: #7158ad;
}

#homeboy {
	display: block;
	width: 30vw;
	margin-left: auto;
	margin-right: auto;
}

h2 {
	color: rgb(255, 238, 0);
}

#collectionsDetailsIcons {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.addIcon {
	width: 3vw;
	margin-right: 1.5vw;
}

#itemDetails {
	width: 85vw;
	max-width: 700px;
	margin-left: auto;
	margin-right: auto;
}

#newItemForm {
	width: 85vw;
	max-width: 400px;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(255, 238, 0);
	border-style: groove;
	border-width: 5px;
	border-color: #e9e9e9;
	box-shadow: 3px 3px 3px #e9e9e9;
	padding: 10px;
	margin-bottom: 50px;
	text-align: center;
}

#newItemForm input {
	margin-top: 5px;
}

#newItemFormCard {
	display: flex;
	flex-direction: row;
	position: relative;
	justify-content: space-between;
	margin-top: 30px;
}

#previewImage {
	position: absolute;
	right: 10px;
	bottom: 10px;
}
#newItemFields {
	margin-top: -15px;
	margin-bottom: 30px;
}

#addANewItem {
	margin-bottom: 50px;
}

.editForm {
	width: fit-content;
	margin-left: auto;
	margin-right: auto;
	background-color: rgb(255, 238, 0);
	border-style: groove;
	border-width: 5px;
	border-color: #e9e9e9;
	box-shadow: 3px 3px 3px #e9e9e9;
	padding: 10px;
	margin-bottom: 50px;
	text-align: center;
}

.editForm input {
	margin-bottom: 5px;
}

.editForm select {
	margin-bottom: 5px;
}
