<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" asp-append-version="true" />
    <title>@ViewData["Title"] | kollectivisor</title>
</head>

<body>
    @* <img class="futureGif" src="~/assets/images/gifStill.png" alt="future gif"> *@
    @await Html.PartialAsync("Header")
    @RenderBody()
</body>

</html>
