<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="~/css/styles.css" asp-append-version="true" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
    <title>@ViewData["Title"] | kollectivisor</title>
</head>

<body>
    @await Html.PartialAsync("Header")
    @RenderBody()
    @await RenderSectionAsync("_ValidationScriptsPartial", required: false)
</body>

</html>
