<header>
  <div id="navbar">
    <a href="/">
      <h1 id="logo-text">kollectivisor</h1>
    </a>
    <nav id="navgroup">
      <li>
        @Html.ActionLink("Collections", "Index", "Collections", null, new { @class = "button" })
      </li>
      <li>
        @Html.ActionLink("Items", "Index", "Items", null, new { @class = "button" })
      </li>
      <li>
        @Html.ActionLink("Tags", "Index", "Tags", null, new { @class = "button" })
      </li>
    </nav>
  </div>
</header>
